.inx-card{
    padding: 25px;
    background-color: $color-white;
    -webkit-box-shadow: 0 1px 3px $color-silver;
    box-shadow: 0 1px 3px $color-silver;
    margin-bottom: 15px;
    .inx-card-title{
        font-size: 18px;
        font-weight: 500;
        margin: 0 0 20px 0;
        color: $color-dark-gray;
    }
}