.inx-dropdown-solid{

    .dropdown-toggle::after {
        content: "\f107"!important;
        font-family: "FontAwesome";
        vertical-align: unset !important;
        border: unset !important;
        font-size: 14px;
        line-height: 0px;

    }

}


.inx-dropdown-light{
    .inx-button{
        background: transparent;
        border: none;
        color: $color-gray;
    }
    .dropdown-toggle::after {
        content: "\f107"!important;
        font-family: "FontAwesome";
        vertical-align: unset !important;
        border: unset !important;
        font-size: 14px;
        line-height: 0px;

    }

}

