<div class="inx-card" id="color">
    <h4>Colors</h4>
    <p>All these colors are available in this platform</p>
    
    <h6>Usage</h6>
    <ul>
        <li>Primary color 1(#8dc63f) used for highlighting purpose and for the primary action buttons. </li>
        <li>Unique color for parent companies.</li>
        <li>Primary color 2(#63a042) used for the primary action button hover effect.</li>
        <li>Each and every single text on the body should use the same color(#555555). Even the links.</li>
        <li>A secondary button is when there is another action button beside the primary button and it will act the opposite(e.g. cancel).  For the secondary action button use the secondery color 1 (#617d8c).</li>
        <li>Confirmation messages like success, warning, attention and error background color should follow the chart above.</li>
        <li>Platform body background color is light grey (#f1f2f7).</li>
        <li>Cards will have solid white background color (#ffffff).</li>
    </ul>


    <div class="row">
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #555555;"></span>
                <code>Body text color: #555555</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #cccccc;"></span>
                <code>Dissabled/light text color: #cccccc</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #8dc642;"></span>
                <code>Primary color 1: #8dc642</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #63a042;"></span>
                <code>Primary color 2: #63a042</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #617d8c;"></span>
                <code>Secondary color 1: #617d8c</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #5a747f;"></span>
                <code>Secondary color 2: #5a747f</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #eeeeee;"></span>
                <code>Border color: #eeeeee</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #deeed8;"></span>
                <code>Success message BG color: #deeed8</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #3c773d;"></span>
                <code>Success message text color: #3c773d</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #d9ecf6;"></span>
                <code>Attention message BG color: #d9ecf6</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #317090;"></span>
                <code>Attention message text color: #317090</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #fbf7e3;"></span>
                <code>Warning message BG color: #fbf7e3</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #8b6d3b;"></span>
                <code>Warning message text color: #8b6d3b</code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #d9ecf6;"></span>
                <code>Error message BG color: #d9ecf6 </code>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="inxe-color-box">
                <span style="background-color: #bc4442;"></span>
                <code>Error message text color: #bc4442 </code>
            </div>
        </div>
    </div>


</div>