<div class="inx-card demo-card" id="icon">
    <h4 class="demo-title">Iconography</h4>
    <p>All these <b>Icons</b> libraries are available to use in this platform</p>
    <div class="demo_section">
        <b class="demo-bold">Icons libraries:</b>
        <div>
            <li><a href="/icons/bootstrap/index.html" target="_blank">Bootstrap</a></li>
            <li><a href="/icons/doctor/index.html" target="_blank">Doctor</a></li>
            <li><a href="/icons/et-line/index.html" target="_blank">Et-line</a></li>
            <li><a href="/icons/feather/index.html" target="_blank">Feather</a></li>
            <li><a href="/icons/Flaticon/index.html" target="_blank">Flaticon</a></li>
            <li><a href="/icons/FontAwesome/index.html" target="_blank">FontAwesome</a></li>
            <li><a href="/icons/icomoon/index.html" target="_blank">Icomoon</a></li>
            <li><a href="/icons/icomoon2/index.html" target="_blank">Icomoon2</a></li>
            <li><a href="/icons/inicons/index.html" target="_blank">Inicons</a></li>
            <li><a href="/icons/others/demo.html" target="_blank">Others</a></li>
            <li><a href="/icons/survey/index.html" target="_blank">Survey</a></li>
        </div>
    </div>

</div>