body{
    background-color: #f1f2f7;
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 14px;
    font-weight: 400;
}

h1, h2, h4, h5, h6{
    margin-top: 0;
    color: #000;
}

a{
    transition: all 300ms ease;
}