/*Theme colors*/
$primary-color: #8dc642;

/*Typeface, typography*/
$primary-font: 'Roboto', sans-serif;
$text-color: #555;
$text-color-grey: #999;
$text-underline-color: #a2a2a2;
$general-font-size: 14px;

/*general colors*/
$body-bg-color: #f3f3f3;
$border-color: #eee;
$input-border-color: #ccc;
$menu-hover-color: rgba(0,0,0,.02);
$alt-table-row-color: rgba(0,0,0,.009);
$footer-bg: #f0eeee;
$disabled-color: #e6e7e8;


$primary-btn-hover: #5d8c13;
$disabled-btn-color: #e6e7e8;