@font-face {
    font-family: 'icomoon';
    src: url('./icomoon.eot?ni67ay');
    src: url('./icomoon.eot?ni67ay#iefix') format('embedded-opentype'), 
	url('./icomoon.ttf?ni67ay') format('truetype'), 
	url('./icomoon.woff?ni67ay') format('woff'), 
	url('./icomoon.svg?ni67ay#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-adjustments:before {
  content: "\e900";
  
}
.icon-alarmclock:before {
  content: "\e901";
  
}
.icon-anchor:before {
  content: "\e902";
  
}
.icon-aperture:before {
  content: "\e903";
  
}
.icon-attachments:before {
  content: "\e904";
  
}
.icon-bargraph:before {
  content: "\e905";
  
}
.icon-basket:before {
  content: "\e906";
  
}
.icon-beaker:before {
  content: "\e907";
  
}
.icon-bike:before {
  content: "\e908";
  
}
.icon-book-open:before {
  content: "\e909";
  
}
.icon-briefcase:before {
  content: "\e90a";
  
}
.icon-browser:before {
  content: "\e90b";
  
}
.icon-calendar:before {
  content: "\e90c";
  
}
.icon-camera:before {
  content: "\e90d";
  
}
.icon-caution:before {
  content: "\e90e";
  
}
.icon-chat:before {
  content: "\e90f";
  
}
.icon-circle-compass:before {
  content: "\e910";
  
}
.icon-clipboard:before {
  content: "\e911";
  
}
.icon-clock:before {
  content: "\e912";
  
}
.icon-cloud:before {
  content: "\e913";
  
}
.icon-compass:before {
  content: "\e914";
  
}
.icon-desktop:before {
  content: "\e915";
  
}
.icon-dial:before {
  content: "\e916";
  
}
.icon-document:before {
  content: "\e917";
  
}
.icon-documents:before {
  content: "\e918";
  
}
.icon-download:before {
  content: "\e919";
  
}
.icon-dribbble:before {
  content: "\e91a";
  
}
.icon-edit:before {
  content: "\e91b";
  
}
.icon-envelope:before {
  content: "\e91c";
  
}
.icon-expand:before {
  content: "\e91d";
  
}
.icon-facebook:before {
  content: "\e91e";
  
}
.icon-flag:before {
  content: "\e91f";
  
}
.icon-focus:before {
  content: "\e920";
  
}
.icon-gears:before {
  content: "\e921";
  
}
.icon-genius:before {
  content: "\e922";
  
}
.icon-gift:before {
  content: "\e923";
  
}
.icon-global:before {
  content: "\e924";
  
}
.icon-globe:before {
  content: "\e925";
  
}
.icon-googleplus:before {
  content: "\e926";
  
}
.icon-grid:before {
  content: "\e927";
  
}
.icon-happy:before {
  content: "\e928";
  
}
.icon-hazardous:before {
  content: "\e929";
  
}
.icon-heart:before {
  content: "\e92a";
  
}
.icon-hotairballoon:before {
  content: "\e92b";
  
}
.icon-hourglass:before {
  content: "\e92c";
  
}
.icon-key:before {
  content: "\e92d";
  
}
.icon-laptop:before {
  content: "\e92e";
  
}
.icon-layers:before {
  content: "\e92f";
  
}
.icon-lifesaver:before {
  content: "\e930";
  
}
.icon-lightbulb:before {
  content: "\e931";
  
}
.icon-linegraph:before {
  content: "\e932";
  
}
.icon-linkedin:before {
  content: "\e933";
  
}
.icon-lock:before {
  content: "\e934";
  
}
.icon-magnifying-glass:before {
  content: "\e935";
  
}
.icon-map:before {
  content: "\e936";
  
}
.icon-map-pin:before {
  content: "\e937";
  
}
.icon-megaphone:before {
  content: "\e938";
  
}
.icon-mic:before {
  content: "\e939";
  
}
.icon-mobile:before {
  content: "\e93a";
  
}
.icon-newspaper:before {
  content: "\e93b";
  
}
.icon-notebook:before {
  content: "\e93c";
  
}
.icon-paintbrush:before {
  content: "\e93d";
  
}
.icon-paperclip:before {
  content: "\e93e";
  
}
.icon-pencil:before {
  content: "\e93f";
  
}
.icon-phone:before {
  content: "\e940";
  
}
.icon-picture:before {
  content: "\e941";
  
}
.icon-pictures:before {
  content: "\e942";
  
}
.icon-piechart:before {
  content: "\e943";
  
}
.icon-presentation:before {
  content: "\e944";
  
}
.icon-pricetags:before {
  content: "\e945";
  
}
.icon-printer:before {
  content: "\e946";
  
}
.icon-profile-female:before {
  content: "\e947";
  
}
.icon-profile-male:before {
  content: "\e948";
  
}
.icon-puzzle:before {
  content: "\e949";
  
}
.icon-quote:before {
  content: "\e94a";
  
}
.icon-recycle:before {
  content: "\e94b";
  
}
.icon-refresh:before {
  content: "\e94c";
  
}
.icon-ribbon:before {
  content: "\e94d";
  
}
.icon-rss:before {
  content: "\e94e";
  
}
.icon-sad:before {
  content: "\e94f";
  
}
.icon-scissors:before {
  content: "\e950";
  
}
.icon-scope:before {
  content: "\e951";
  
}
.icon-search:before {
  content: "\e952";
  
}
.icon-shield:before {
  content: "\e953";
  
}
.icon-speedometer:before {
  content: "\e954";
  
}
.icon-strategy:before {
  content: "\e955";
  
}
.icon-streetsign:before {
  content: "\e956";
  
}
.icon-tablet:before {
  content: "\e957";
  
}
.icon-telescope:before {
  content: "\e958";
  
}
.icon-toolbox:before {
  content: "\e959";
  
}
.icon-tools:before {
  content: "\e95a";
  
}
.icon-tools-2:before {
  content: "\e95b";
  
}
.icon-traget:before {
  content: "\e95c";
  
}
.icon-trophy:before {
  content: "\e95d";
  
}
.icon-tumblr:before {
  content: "\e95e";
  
}
.icon-twitter:before {
  content: "\e95f";
  
}
.icon-upload:before {
  content: "\e960";
  
}
.icon-video:before {
  content: "\e961";
  
}
.icon-wallet:before {
  content: "\e962";
  
}
.icon-wine:before {
  content: "\e963";
  
}
.icon-alarm:before {
  content: "\e964";
}
.icon-apartment:before {
  content: "\e965";
}
.icon-arrow-down:before {
  content: "\e966";
}
.icon-arrow-down-circle:before {
  content: "\e967";
}
.icon-arrow-left:before {
  content: "\e968";
}
.icon-arrow-left-circle:before {
  content: "\e969";
}
.icon-arrow-right:before {
  content: "\e96a";
}
.icon-arrow-right-circle:before {
  content: "\e96b";
}
.icon-arrow-up:before {
  content: "\e96c";
}
.icon-arrow-up-circle:before {
  content: "\e96d";
}
.icon-bicycle:before {
  content: "\e96e";
}
.icon-bold:before {
  content: "\e96f";
}
.icon-book:before {
  content: "\e970";
}
.icon-bookmark:before {
  content: "\e971";
}
.icon-briefcase2:before {
  content: "\e972";
}
.icon-bubble:before {
  content: "\e973";
}
.icon-bug:before {
  content: "\e974";
}
.icon-bullhorn:before {
  content: "\e975";
}
.icon-bus:before {
  content: "\e976";
}
.icon-calendar-full:before {
  content: "\e977";
}
.icon-camera2:before {
  content: "\e978";
}
.icon-camera-video:before {
  content: "\e979";
}
.icon-car:before {
  content: "\e97a";
}
.icon-cart:before {
  content: "\e97b";
}
.icon-chart-bars:before {
  content: "\e97c";
}
.icon-checkmark-circle:before {
  content: "\e97d";
}
.icon-chevron-down:before {
  content: "\e97e";
}
.icon-chevron-down-circle:before {
  content: "\e97f";
}
.icon-chevron-left:before {
  content: "\e980";
}
.icon-chevron-left-circle:before {
  content: "\e981";
}
.icon-chevron-right:before {
  content: "\e982";
}
.icon-chevron-right-circle:before {
  content: "\e983";
}
.icon-chevron-up:before {
  content: "\e984";
}
.icon-chevron-up-circle:before {
  content: "\e985";
}
.icon-circle-minus:before {
  content: "\e986";
}
.icon-clock2:before {
  content: "\e987";
}
.icon-cloud2:before {
  content: "\e988";
}
.icon-cloud-check:before {
  content: "\e989";
}
.icon-cloud-download:before {
  content: "\e98a";
}
.icon-cloud-sync:before {
  content: "\e98b";
}
.icon-cloud-upload:before {
  content: "\e98c";
}
.icon-code:before {
  content: "\e98d";
}
.icon-coffee-cup:before {
  content: "\e98e";
}
.icon-cog:before {
  content: "\e98f";
}
.icon-construction:before {
  content: "\e990";
}
.icon-crop:before {
  content: "\e991";
}
.icon-cross:before {
  content: "\e992";
}
.icon-cross-circle:before {
  content: "\e993";
}
.icon-database:before {
  content: "\e994";
}
.icon-diamond:before {
  content: "\e995";
}
.icon-dice:before {
  content: "\e996";
}
.icon-dinner:before {
  content: "\e997";
}
.icon-direction-ltr:before {
  content: "\e998";
}
.icon-direction-rtl:before {
  content: "\e999";
}
.icon-download2:before {
  content: "\e99a";
}
.icon-drop:before {
  content: "\e99b";
}
.icon-earth:before {
  content: "\e99c";
}
.icon-enter:before {
  content: "\e99d";
}
.icon-enter-down:before {
  content: "\e99e";
}
.icon-envelope2:before {
  content: "\e99f";
}
.icon-exit:before {
  content: "\e9a0";
}
.icon-exit-up:before {
  content: "\e9a1";
}
.icon-eye:before {
  content: "\e9a2";
}
.icon-file-add:before {
  content: "\e9a3";
}
.icon-file-empty:before {
  content: "\e9a4";
}
.icon-film-play:before {
  content: "\e9a5";
}
.icon-flag2:before {
  content: "\e9a6";
}
.icon-frame-contract:before {
  content: "\e9a7";
}
.icon-frame-expand:before {
  content: "\e9a8";
}
.icon-funnel:before {
  content: "\e9a9";
}
.icon-gift2:before {
  content: "\e9aa";
}
.icon-graduation-hat:before {
  content: "\e9ab";
}
.icon-hand:before {
  content: "\e9ac";
}
.icon-heart2:before {
  content: "\e9ad";
}
.icon-heart-pulse:before {
  content: "\e9ae";
}
.icon-highlight:before {
  content: "\e9af";
}
.icon-history:before {
  content: "\e9b0";
}
.icon-home:before {
  content: "\e9b1";
}
.icon-hourglass2:before {
  content: "\e9b2";
}
.icon-inbox:before {
  content: "\e9b3";
}
.icon-indent-decrease:before {
  content: "\e9b4";
}
.icon-indent-increase:before {
  content: "\e9b5";
}
.icon-italic:before {
  content: "\e9b6";
}
.icon-keyboard:before {
  content: "\e9b7";
}
.icon-laptop2:before {
  content: "\e9b8";
}
.icon-laptop-phone:before {
  content: "\e9b9";
}
.icon-layers2:before {
  content: "\e9ba";
}
.icon-leaf:before {
  content: "\e9bb";
}
.icon-license:before {
  content: "\e9bc";
}
.icon-lighter:before {
  content: "\e9bd";
}
.icon-linearicons:before {
  content: "\e9be";
}
.icon-line-spacing:before {
  content: "\e9bf";
}
.icon-link:before {
  content: "\e9c0";
}
.icon-list:before {
  content: "\e9c1";
}
.icon-location:before {
  content: "\e9c2";
}
.icon-lock2:before {
  content: "\e9c3";
}
.icon-magic-wand:before {
  content: "\e9c4";
}
.icon-magnifier:before {
  content: "\e9c5";
}
.icon-map2:before {
  content: "\e9c6";
}
.icon-map-marker:before {
  content: "\e9c7";
}
.icon-menu:before {
  content: "\e9c8";
}
.icon-menu-circle:before {
  content: "\e9c9";
}
.icon-mic2:before {
  content: "\e9ca";
}
.icon-moon:before {
  content: "\e9cb";
}
.icon-move:before {
  content: "\e9cc";
}
.icon-music-note:before {
  content: "\e9cd";
}
.icon-mustache:before {
  content: "\e9ce";
}
.icon-neutral:before {
  content: "\e9cf";
}
.icon-page-break:before {
  content: "\e9d0";
}
.icon-paperclip2:before {
  content: "\e9d1";
}
.icon-paw:before {
  content: "\e9d2";
}
.icon-pencil2:before {
  content: "\e9d3";
}
.icon-phone2:before {
  content: "\e9d4";
}
.icon-phone-handset:before {
  content: "\e9d5";
}
.icon-picture2:before {
  content: "\e9d6";
}
.icon-pie-chart:before {
  content: "\e9d7";
}
.icon-pilcrow:before {
  content: "\e9d8";
}
.icon-plus-circle:before {
  content: "\e9d9";
}
.icon-pointer-down:before {
  content: "\e9da";
}
.icon-pointer-left:before {
  content: "\e9db";
}
.icon-pointer-right:before {
  content: "\e9dc";
}
.icon-pointer-up:before {
  content: "\e9dd";
}
.icon-poop:before {
  content: "\e9de";
}
.icon-power-switch:before {
  content: "\e9df";
}
.icon-printer2:before {
  content: "\e9e0";
}
.icon-pushpin:before {
  content: "\e9e1";
}
.icon-question-circle:before {
  content: "\e9e2";
}
.icon-redo:before {
  content: "\e9e3";
}
.icon-rocket:before {
  content: "\e9e4";
}
.icon-sad2:before {
  content: "\e9e5";
}
.icon-screen:before {
  content: "\e9e6";
}
.icon-select:before {
  content: "\e9e7";
}
.icon-shirt:before {
  content: "\e9e8";
}
.icon-smartphone:before {
  content: "\e9e9";
}
.icon-smile:before {
  content: "\e9ea";
}
.icon-sort-alpha-asc:before {
  content: "\e9eb";
}
.icon-sort-amount-asc:before {
  content: "\e9ec";
}
.icon-spell-check:before {
  content: "\e9ed";
}
.icon-star:before {
  content: "\e9ee";
}
.icon-star-empty:before {
  content: "\e9ef";
}
.icon-star-half:before {
  content: "\e9f0";
}
.icon-store:before {
  content: "\e9f1";
}
.icon-strikethrough:before {
  content: "\e9f2";
}
.icon-sun:before {
  content: "\e9f3";
}
.icon-sync:before {
  content: "\e9f4";
}
.icon-tablet2:before {
  content: "\e9f5";
}
.icon-tag:before {
  content: "\e9f6";
}
.icon-text-align-center:before {
  content: "\e9f7";
}
.icon-text-align-justify:before {
  content: "\e9f8";
}
.icon-text-align-left:before {
  content: "\e9f9";
}
.icon-text-align-right:before {
  content: "\e9fa";
}
.icon-text-format:before {
  content: "\e9fb";
}
.icon-text-format-remove:before {
  content: "\e9fc";
}
.icon-text-size:before {
  content: "\e9fd";
}
.icon-thumbs-down:before {
  content: "\e9fe";
}
.icon-thumbs-up:before {
  content: "\e9ff";
}
.icon-train:before {
  content: "\ea00";
}
.icon-trash:before {
  content: "\ea01";
}
.icon-underline:before {
  content: "\ea02";
}
.icon-undo:before {
  content: "\ea03";
}
.icon-unlink:before {
  content: "\ea04";
}
.icon-upload2:before {
  content: "\ea05";
}
.icon-user:before {
  content: "\ea06";
}
.icon-users:before {
  content: "\ea07";
}
.icon-volume:before {
  content: "\ea08";
}
.icon-volume-high:before {
  content: "\ea09";
}
.icon-volume-low:before {
  content: "\ea0a";
}
.icon-volume-medium:before {
  content: "\ea0b";
}
.icon-warning:before {
  content: "\ea0c";
}
.icon-wheelchair:before {
  content: "\ea0d";
}
