@font-face {
    font-family: 'doctor';
    src: url('./doctor.eot?7uq1wb');
    src: url('./doctor.eot?7uq1wb#iefix') format('embedded-opentype'), 
	url('./doctor.ttf?7uq1wb') format('truetype'), 
	url('./doctor.woff?7uq1wb') format('woff'), 
	url('./doctor.svg?7uq1wb#doctor') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="doctor-"], [class*=" doctor-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'doctor' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.doctor-cancer:before {
    content: "\e900";
}

.doctor-colorectal:before {
    content: "\e901";
}

.doctor-vaccine:before {
    content: "\e902";
}

.doctor-eye-screening:before {
    content: "\e903";
}

.doctor-pulmonary:before {
    content: "\e904";
}

.doctor-diabetes:before {
    content: "\e905";
}

.doctor-arthritis:before {
    content: "\e906";
}

.doctor-heart:before {
    content: "\e907";
}

.doctor-breast:before {
    content: "\e908";
}

.doctor-heart-failure:before {
    content: "\e909";
}

.doctor-prostate:before {
    content: "\e90a";
}

.doctor-copd:before {
    content: "\e90b";
}







/*.doctor-colorectal:before {
    content: "\e900";
}

.doctor-vaccine:before {
    content: "\e901";
}

.doctor-eye-screening:before {
    content: "\e902";
}

.doctor-pulmonary:before {
    content: "\e903";
}

.doctor-diabetes:before {
    content: "\e904";
}

.doctor-arthritis:before {
    content: "\e905";
}

.doctor-heart:before {
    content: "\e906";
}

.doctor-breast:before {
    content: "\e907";
}

.doctor-heart-failure:before {
    content: "\e908";
}

.doctor-prostate:before {
    content: "\e909";
}

.doctor-copd:before {
    content: "\e90a";
}*/
