<div class="inx-card demo-card" id="alerts">
    <h4 class="demo-title">Alerts</h4>
    <p>Insightin platform includes several predefined  <b>"Alerts"</b>   styles</p>


    <div class="demo_section">
        <div>
            <div class="alert alert-success" role="alert">Well done! You successfully read this important alert message.</div>
            <div class="alert alert-info" role="alert">Heads up! This alert needs your attention, but it's not super important.</div>
            <div class="alert alert-warning" role="alert">Warning! Better check yourself, you're not looking too good.</div>
            <div class="alert alert-danger" role="alert">Oh snap! Change a few things up and try submitting again.</div>
        </div>
        <pre>
    <code class="language-html">
 &lt;div class=&quot;alert alert-success&quot; role=&quot;alert&quot;&gt;Well done! You successfully read this important alert message.&lt;/div&gt;
 &lt;div class=&quot;alert alert-info&quot; role=&quot;alert&quot;&gt;Heads up! This alert needs your attention, but it&#39;s not super important.&lt;/div&gt;
 &lt;div class=&quot;alert alert-warning&quot; role=&quot;alert&quot;&gt;Warning! Better check yourself, you&#39;re not looking too good.&lt;/div&gt;
 &lt;div class=&quot;alert alert-danger&quot; role=&quot;alert&quot;&gt;Oh snap! Change a few things up and try submitting again.&lt;/div&gt;
    </code>
    </pre>
    </div>



</div>