<div class="inx-card" id="color">
    <h4>Buttons</h4>
    <p>Insightin platform includes several predefined button styles</p>


<div>
    <button type="button" class="inx-button">Primary Button</button>
    <a href="#" type="button" class="inx-button">Button with Link</a>
</div>

<pre>
<code class="language-html"> 
&lt;button type=&quot;button&quot; class=&quot;inx-button&quot;&gt;Primary Button&lt;/button&gt;
&lt;a href=&quot;#&quot; type=&quot;button&quot; class=&quot;inx-button&quot;&gt;Button with Link&lt;/a&gt;
</code>
</pre> 

    

</div>