<div class="inx-card demo-card" id="button">
    <h4 class="demo-title">Button</h4>
    <p>Insightin platform includes several predefined <b>"Button"</b> styles</p>

    <div class="demo_section">
        <div>
            <button type="button" class="inx-button primary-regular">Primary button</button>
            <button type="button" class="inx-button hover-button">Hover button</button>
            <button type="button" class="inx-button disabled-button">Disabled button</button>
            <button type="button" class="inx-button regular-with-icon">
                <i class="fa fa-plus"></i>
                Regular with icon
            </button>
            <button type="button" class="inx-button hover-with-icon">
                <i class="fa fa-plus"></i>
                Hover with icon
            </button>
            <button type="button" class="inx-button disabled-with-icon">
                <i class="fa fa-plus"></i>
                Disabled with icon
            </button>
            <button type="button" class="inx-button regular-outlined">
                <i class="fa fa-plus"></i>
                Regular outlined
            </button>
            <button type="button" class="inx-button hover-outlined">
                <i class="fa fa-plus"></i>
                Hover outlined
            </button>
            <button type="button" class="inx-button disabled-outlined">
                <i class="fa fa-plus"></i>
                Disabled outlined
            </button>
        </div>
        <pre>
    <code class="language-html">

    </code>
    </pre>
    </div>
</div>