<div class="inx-card demo-card" id="color">
    <h4 class="demo-title">Color</h4>
    <p>All these  <b>color</b> are available in this platform</p>

    <div class="demo_section">
        <div>
            <b class="demo-bold">Usage</b>
            <ul>
                <li>Primary color 1(#8dc63f) used for highlighting purpose and for the primary action buttons. </li>
                <li>Primary color 2(#63a042) used for the primary action button hover effect.</li>
                <li>Each and every single text on the body should use the same color(#555555). Even the links.</li>
                <li>
                    A secondary button is when there is another action button beside the primary button and it will act the opposite(e.g. cancel).
                    For the secondary action button use the secondary color 1 (#617d8c).
                </li>
                <li>Platform body background color is light grey (#f1f2f7).</li>
                <li>Cards will have solid white background color (#ffffff)</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #8dc63f;"></span>
                    <code>Primary  color: #8dc63f</code>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #63a042;"></span>
                    <code>Primary  color 2: #63a042</code>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #555555;"></span>
                    <code>body text color: #555555</code>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #617d8c;"></span>
                    <code>action button  secondary color 1: #617d8c</code>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #f1f2f7;"></span>
                    <code>body background color: #f1f2f7</code>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="inxe-color-box">
                    <span style="background-color: #ffffff;"></span>
                    <code>Cards color: #ffffff</code>
                </div>
            </div>
        </div>
    </div>
</div>









