<div class="inx-card" id="dropdowns">
    <h4>Dropdowns</h4>
    <p>Insightin platform includes several predefined dropdowns styles</p>


<div>
    <div class="inx-dropdown">
        <button class="inx-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown button
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>

<pre>
<code class="language-html"> 
    &lt;button type=&quot;button&quot; class=&quot;inx-button&quot;&gt;Primary button&lt;/button&gt;
    &lt;a href=&quot;https://www.facebook.com/&quot; type=&quot;button&quot; class=&quot;inx-button&quot;&gt;Button with link&lt;/a&gt;
    &lt;a href=&quot;javascript:void(0)&quot; type=&quot;button&quot; class=&quot;inx-button&quot;&gt;&lt;i class=&quot;fa fa-search&quot;&gt;&lt;/i&gt; Button with icon&lt;/a&gt;
</code>
</pre> 

    

</div>
