<div class="inx-card demo-card" id="typography">
    <h4 class="demo-title">Typography</h4>
    <p>Insightin platform users <b>"Roboto"</b> for font styles</p>



<div class="demo_section">
    <div>
        <p class="demo_section_title">Insightin platform includes 6 different <b>heading</b> styles</p>
        <h1>h1. Insightin  heading</h1>
        <h2>h2. Insightin  heading</h2>
        <h3>h3. Insightin  heading</h3>
        <h4>h4. Insightin  heading</h4>
        <h5>h5. Insightin  heading</h5>
        <h6>h6. Insightin  heading</h6>
    </div>
    <pre>
    <code class="language-html">
    &lt;h1&gt;h1. Insightin  heading&lt;/h1&gt;
    &lt;h2&gt;h2. Insightin  heading&lt;/h2&gt;
    &lt;h3&gt;h3. Insightin  heading&lt;/h3&gt;
    &lt;h4&gt;h4. Insightin  heading&lt;/h4&gt;
    &lt;h5&gt;h5. Insightin  heading&lt;/h5&gt;
    &lt;h6&gt;h6. Insightin  heading&lt;/h6&gt;
    </code>
    </pre>
</div>




<div class="demo_section">
    <div>
        <p class="demo_section_title">Insightin platform includes <b>paragraph</b> styles</p>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p> when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries,</p>
    </div>
    <pre>
    <code class="language-html">
    &lt;p&gt;Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
    Ipsum has been the industry&#39;s standard dummy text ever since the 1500s&lt;/p&gt;
    &lt;p&gt; when an unknown printer took a galley of type and scrambled it to make a
    type specimen book. It has survived not only five centuries,&lt;/p&gt;
    </code>
    </pre>
</div>



<div class="demo_section">
    <p class="demo_section_title">Insightin platform includes different <b>list</b> styles</p>
    <div class="row">
        <div class="col-6">
            <div>
                <b class="demo-bold">Unordered list:</b>
                <ul>
                    <li>Unordered list 1</li>
                    <li>Unordered list 2</li>
                    <li>Unordered list 3</li>
                    <li>Unordered list 4</li>
                </ul>
            </div>
    <pre>
    <code class="language-html">
    &lt;ul&gt;
        &lt;li&gt;Unordered list 1&lt;/li&gt;
        &lt;li&gt;Unordered list 2&lt;/li&gt;
        &lt;li&gt;Unordered list 3&lt;/li&gt;
        &lt;li&gt;Unordered list 4&lt;/li&gt;
    &lt;/ul&gt;
    </code>
    </pre>
        </div>
        <div class="col-6">
            <div>
                <b class="demo-bold">ordered list:</b>
                <ol>
                    <li>ordered list 1</li>
                    <li>ordered list 2</li>
                    <li>ordered list 3</li>
                    <li>ordered list 4</li>
                </ol>
            </div>
    <pre>
    <code class="language-html">
    &lt;ol&gt;
        &lt;li&gt;ordered list 1&lt;/li&gt;
        &lt;li&gt;ordered list 2&lt;/li&gt;
        &lt;li&gt;ordered list 3&lt;/li&gt;
        &lt;li&gt;ordered list 4&lt;/li&gt;
    &lt;/ol&gt;
    </code>
    </pre>
        </div>


    </div>
</div>



<div class="demo_section">
        <div>
            <p class="demo_section_title">Insightin platform includes <b>Hyperlink</b> styles</p>
            <a href="">Hyperlink</a>
        </div>
        <pre>
    <code class="language-html">
    &lt;a href=&quot;&quot;&gt;Hyperlink&lt;/a&gt;
    </code>
    </pre>
</div>


</div>
