<nav class="inx-documentation-nav">
    <ul>





<!--        <li>-->
<!--            <a href="#Getting_started"> Getting started</a>-->
<!--            <ul>-->
<!--                <li><a href="#">Introduction</a></li>-->
<!--                <li><a href="#">Grid system</a></li>-->
<!--                <li><a href="#color">Color</a></li>-->
<!--                <li><a href="#">CSS Class</a></li>-->
<!--                <li><a href="#">Icons</a></li>-->
<!--            </ul>-->
<!--        </li>-->





        <li>
            <a href="#content"> Content</a>
            <ul>
                <li><a href="#typography">Typography</a></li>
                <li><a href="#color">Colors</a></li>
                <li><a href="#icon">Iconography</a></li>
            </ul>
        </li>





<!--        <li>-->
<!--            <a href="#Getting_started"> Components </a>-->
<!--            <ul>-->
<!--                <li><a href="#accordion">Accordion</a></li>-->
<!--                <li><a href="#alerts">Alerts</a></li>-->
<!--                <li><a href="#button">Buttons</a></li>-->
<!--                <li><a href="#cards">Cards</a></li>-->
<!--                <li><a href="#dropdowns">Dropdowns</a></li>-->
<!--                <li><a href="#">Pagination</a></li>-->
<!--                <li><a href="#">Tooltips</a></li>-->
<!--                <li><a href="#">Modal</a></li>-->

<!--            </ul>-->
<!--        </li>-->
    </ul>
</nav>